---
title: "{{author}} Resume"
author: {{author}}
jobtitle: Principal Full Stack Developer and Architect
contact: |
  {{#contact}}
    {{#address}}{{city}}, {{state}} {{zip}}{{/address}}
    | {{phone}}
    | {{email}}
  {{/contact}}
social: |
  {{#social}}
    {{#web}}[{{text}}]({{url}}){{/web}}
    | {{#linkedin}}[{{text}}]({{url}}){{/linkedin}}
    | {{#github}}[{{text}}]({{url}}){{/github}}
  {{/social}}
fontsize: 10pt
geometry: margin=1in
numbersections: false
---

## Summary

{{professional_summary}}

## Skills

{{#skills_by_category}}
{{category}}:
: {{first_skill}}{{#remaining_skills}}, {{.}}{{/remaining_skills}}

{{/skills_by_category}}

## Work Experience

{{#work_experience}}

### **{{title}}** | **{{company_name}}**

{{#company_address}}{{city}}, {{state}}{{/company_address}}
| {{#start_date}}{{month}} {{year}}{{/start_date}} - {{#end_date}}{{month}} {{year}}{{/end_date}}

{{#accomplishments}}
- {{.}}
{{/accomplishments}}

{{/work_experience}}

{{#education}}
## Education



{{#school}}
### **{{name}}** - *{{city}}, {{state}}* | *{{start_date.year}} – {{end_date.year}}*
{{/school}}

**{{degree}} in {{field}}**

{{/education}}